@{
    ViewBag.Title = "XML Viewer";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@

@*<link rel="stylesheet" href="styles/kendo.common.min.css" />
    <link rel="stylesheet" href="styles/kendo.default.min.css" />
    <link rel="stylesheet" href="styles/kendo.default.mobile.min.css" />*@

@*<div>
        <div class="demo-section k-content" style="margin-top: 5%">
            <input name="files" id="files" type="file" />
        </div>
    </div>*@

<h3>Выберите файл для загрузки</h3>
@*@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="upload" />
        <br />
        <input type="submit" value="Загрузить" />
    }*@

@using (Ajax.BeginForm("Upload", "Home", new AjaxOptions { UpdateTargetId = "results", HttpMethod = "Post" }, 
    new { enctype = "multipart/form-data" }))
{
    <input type="file" name="upload" />
    <br />
    <input type="submit" value="Загрузить" />
}


<div class="text-center">
    <h2>Kendo UI Grid</h2>
    @(Html.Kendo().Grid<TestTask.Models.Card>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.Id).Width(100);
                columns.Bound(c => c.Bills).Width(300);
                columns.Bound(c => c.Amount).Width(100);
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("Select", "Home"))
            )
        )
</div>

@*<div class="text-center">
    <h2>Kendo UI Grid</h2>
    @(Html.Kendo().Grid<TestTask.Models.Product>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.ProductID).Width(100);
                columns.Bound(c => c.ProductName).Width(300);
                columns.Bound(c => c.UnitPrice).Width(100);
                columns.Bound(c => c.Discontinued).Width(200);
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("Select", "Home"))
            )
        )
</div>*@