@{
    ViewBag.Title = "XML Viewer";
}

<h3>Выберите файл для загрузки</h3>

@using (Ajax.BeginForm("Upload", "Home", new AjaxOptions { UpdateTargetId = "results", HttpMethod = "Post" }, 
    new { enctype = "multipart/form-data" }))
{
    <input type="file" name="upload" />
    <br />
    <input type="submit" value="Загрузить" />
}

<div class="text-center">
    <h2>Cards Grid</h2>
    @(Html.Kendo().Grid<TestTask.Models.Card>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.Id).Width(100);
                columns.Bound(c => c.Bills).Width(300);
                columns.Bound(c => c.Amount).Width(100);
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("Select", "Home"))
            )
        )
</div>
